{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{pokemon_name}} {% endblock %}</h1>
    <table id="tableauPok">
        <thead>{{pok_name_fr}} / {{pok_name_eng}}</thead>
        <tr>
            <td>{{sprite}}</td>
            <td>{{sprite_shiny}}</td>
            <td>{{sprite_region_diff}}</td>
        </tr>
        <tr>
            <td>Statistiques au niveau 1</td>
        </tr>
        <tr>
            {% for stats in stats_du_pok %}
            <td>{{stats}}</td>
            {% for stats in stats_du_pok %}
        </tr>
        {% for info in info_recup_de_lapi %}
        <tr>
            <td>{{ nom_de_linfo }}</td>
            <td>{{ col }}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <thead>Famille</thead>
    </table>
{% endblock %}