.blocPok {
    margin:1% ;
    border : solid;
    width:25%;
    border-top-right-radius: 15%;
    border-color: black;
    border-width: 2px;
}

.researchBarPok {
    color: red;
    border-radius: 10%;
}

nav a {
    color: red;
    font-size: 10px;
    margin-left: 50px;
}

footer {
    
}