
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - SPP - SuperbPokePedia</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <img src="./images/SPP.svg" alt="logo" id="logo">
    <header>
        <nav>
            <a href="/">HOME</a>
            <a href="/register">REGISTER</a>
            <a href="/login">LOGIN</a>
        </nav>
    </header>

    <main class="content">
        {% block content %} {% endblock %}
    </main>

    <footer>
        <p>Copyright &copy; 2024 Les chevaliers de la git-pocalypse, Tout droit réservés</p>
        <a href="">PokeAPI</a>
        <a href="">Pokemon</a>
        <a href="">Connections</a>
    </footer>
</body>
</html>