{% extends 'base.html' %}

{% block content %}
    <div id="milieu">
        <div id="researchBarPok">
        <h2>Saisissez le nom d'un pokemon</h2>
        <form method="POST" action="/search">
            <input type="search" name="pokemon" id="bar"/>
            <button type="submit" id="loupe"><img src="images/loupe.png"></button>
        </form>
    </div>
     <h3>Liste de vos favoris</h3>
    <div style="display: flex; justify-content: center;">
        {% if user['connecte'] %}
            <div class="blocPok">
                {% if favorites|length == 0 %}
                    <p style="text-align:center; font-family:Ubuntu;">Aucun favoris enregistrés</p>
                {% else %}
                    {% for pokemon in favorites %}
                        <p style="text-align:center; font-family:Ubuntu;">{{pokemon.french_name}} / {{pokemon.name}}</p>
                    {% endfor %}
                {% endif %}
            </div>
        {% else %}
        <p style="text-align:center; font-family:Ubuntu;"> <strong>connectez vous pour acceder à vos pokemons favoris</strong></p>
        {% endif %}
    </div>
    </div>
{% endblock %}
