{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Index {% endblock %}</h1>
    <div class="researchBarPok">
        <form action="/search" method="POST">
            <input type="text" name="pokemon" placeholder="Pokemon"/>
            <button type="submit">Rechercher</button>
        </form>
    </div>
    <main>
        {% if user['connecte'] %}
            <h3>Liste de vos favoris</h3>
            <div class="blocPok">
                {% for pokemon in favorites %}
                    <div>
                        <span>{{pokemon.french_name}} / {{pokemon.name}}</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="blocPok">
            <p>Table des types goes here (dynamic table would be fancy)</p>
        </div>
    </main>
    <aside>

    </aside>
    <h3>{{ var }}, that should be a random variable</h3>
{% endblock %}
