{% extends 'base.html' %}

{% block content %}
<div class="centre">
    <h1>Connexion</h1>
    <form method="POST" action="/login" class="formLog">
        <div class="divLog">
            <label class="labeLog">Email</label>
            <input type="text" name="email" class="inputLog">
        </div>
        <div class="divLog">
            <label class="labeLog">Mot de passe</label>
            <input type="password" name="password" class="inputLog">
        </div>
        <div class="divLog">
            <button type="submit" style="margin-left:0; margin-top: 1rem;">Se connecter</button>
        </div>
    </form>
</div>
{% endblock %}