{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{pokemon.name}} {% endblock %}</h1>
    <form action="/{{pokemon.name}}/favorite" method="POST">
        <button type="submit">{% if favorite %}Retirer des{% else %}Ajouter aux{% endif %} favoris</button>
    </form>
    <table id="tableauPok">
        <thead>{{pokemon.french_name}} / {{pokemon.name}}</thead>
        <tr>
            <p>sprite</p>
            {% for sprite in pokemon.sprites %}
                {% if sprite %}
                    <img src='{{sprite}}'>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <p>Types</p>
            {% for type in pokemon.types %}
            <td>{{type}}</td>
            {% endfor %}
        </tr>
        </table>
        <ul>
            <li>Statistiques au niveau 1</li>
            <li></li>
            <li> HP : <progress value="{{pokemon.hp}}" max="255"></progress>{{pokemon.hp}}</li>
            <li> Attack : <progress value="{{pokemon.attack}}" max="255"></progress>{{pokemon.attack}}</li>
            <li> Defense : <progress value="{{pokemon.defense}}" max="255"></progress>{{pokemon.defense}}</li>
            <li> Sp. Attack : <progress value="{{pokemon.sp_attack}}" max="255"></progress>{{pokemon.sp_attack}}</li>
            <li> Sp. Defense : <progress value="{{pokemon.sp_defense}}" max="255"></progress>{{pokemon.sp_defense}}</li>
            <li> Speed : <progress value="{{pokemon.speed}}" max="255"></progress>{{pokemon.speed}}</li>
        </ul>
    <p>I can't find your family, you're adopted</p>
{% endblock %}